# Entorno virtual de Python
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos sensibles y generados
.env
*.log
portfolio_state.json
trade_state.json
credenciales.json

# Archivos y carpetas generadas
output/
data/
models/
logs/

# Carpetas temporales o de exportación
export_txt/